<% content_for :page_title do %>
  <%= "Home Page Settings" %>
<% end %>

<%= form_for [:admin, @home_page] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'update' %>
	</div>

  </fieldset>
<% end %>